#article h1 {
  @apply text-3xl font-bold;
}

#article h2 {
  @apply text-2xl font-bold;
}

#article h3 {
  @apply text-lg font-bold;
}

#article p {
  @apply opacity-70;
  line-height: 1.65rem;
}

#article ul {
  @apply list-disc;
}

#article ol {
  @apply list-decimal;
}

#article li {
  @apply overflow-x-auto;
}

#article ul, ol {
  @apply list-inside ml-4 !space-y-0 flex flex-col;
}

#article a {
  @apply text-emerald-500 dark:text-emerald-300 hover:underline;
}

#article pre {
  @apply bg-gray-100 dark:bg-gray-900 overflow-x-auto rounded-xl dark:shadow-lg p-6 my-2;
}

#article {
  @apply dark:text-white space-y-4 text-gray-700;
}

#article pre::-webkit-scrollbar {
  width: 50px;
}

#article pre code {
  padding: 0;
}

#article code {
  @apply bg-gray-100 dark:bg-gray-900 rounded-md;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 400;
  padding: 0.2rem 0.5rem;
}

@media (prefers-color-scheme: dark) {
  #article pre::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(10, 10, 13);
  }
}


#article pre::-webkit-scrollbar-track {
  @apply rounded-full;
  border: solid 5px transparent;
}
#article pre::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgb(200, 200, 200) !important;
  @apply rounded-full;
  border: solid 5px transparent;
}
